<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body>
<form method = "POST" th:object = "${Compatibility}">
<div class="form-group">
    <label th:for="fish1">Choose a fish:</label>
    <select name = "fish1comp">
        <option th:each="fish : ${fishList}" th:value="${fish.compatibility.name}" th:text="${fish.name}"></option>
    </select>
    <label th:for="fish2">Choose another fish:</label>
    <select name = "fish2comp">
        <option th:each="fish : ${fishList}" th:value="${fish.compatibility.name}" th:text="${fish.name}"></option>
    </select>
</div>
    <input type = "submit" value = "Compare!" />
</form>
</body>
</html>