<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body>
<form method = "POST" th:object="${aTank}">
    <div class = "form-group">
        <label th:for = "name">Nickname for tank:</label>
        <input class = "form-control" th:field = "*{name}" th:value = "*{name}">
    </div>
    <div class = "form-group">
        <label th:for = "gallons">Gallons:</label>
        <input class = "form-control" th:field = "*{gallons}" th:value = "*{gallons}">
    </div>
    <div class = "form-group">
        <label th:for = "temp">Tank temperature</label>
        <input class = "form-control" th:field = "*{temp}" th:value = "*{temp}">
    </div>
    <input type = "submit" value = "Submit Changes" />
</form>
</body>
</html>