<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body>
<div>
    <h2>Welcome to the Tank Generator!</h2>
    <form method = "POST" th:object = "${choice}">
    <div>
        <label th:for = "choice">I want to generate by </label>
        <select name = "choice">
                <option th:each="genOption : ${genOptions}" th:value="${genOption}" th:text="${genOption}"></option>
        </select>
    </div>
        <input type="hidden" th:name = "step" th:value = "one" />
    <input type = "submit" value = "Go!" />
    </form>
</div>
</body>
</html>